@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
//Replace the method delay normaly with Jquery for delay between div
@for $i from 0 to 9 {
  .fade-in-delay-#{$i} {
    animation-delay:  #{$i/10}s;
  }
}
@keyframes fade-item-menu {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1)
    }
}
@-moz-keyframes fade-item-menu { /* sur Firefox */
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1)
    }
}
@-webkit-keyframes fade-item-menu { /* sur Safari et Chrome */
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1)
    }
}