// Les commentaires
// "/* */" Présent à la sortie du CSS, "//" Pas compile (pas présent dans le CSS de sortie)

/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "./reset.scss"; //Reset CSS
@import "./boostrap/bootstrap.scss"; //Boostrap 4.0 (https://grafikart.fr/tutoriels/sass-bootstrap-1110#autoplay)


@import "./variables.scss"; //Variables
@import "./animations.scss"; //Animations
@import "./carousel.scss"; //Carousel

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import "./responsive.scss"; //Responsive

/*--------------------------------------------------------------
# Legacy css
--------------------------------------------------------------*/
%font-style {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
}


html {
    height: 100%; 
    scroll-behavior: smooth;
}
body {
    height: 100%; 
    user-select: none;          /* Likely future */    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    font-family: $font-family;
    margin: 0;
    overflow-x: hidden;
}

ul {
  padding: 0;
  list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

@for $i from 0 to 10 {
  .mb-#{$i}rem {
    margin-bottom: #{$i}rem;
  }
  .mt-#{$i}rem {
    margin-top: #{$i}rem;
  }
}

@for $i from 0 to 10 {
  .radius-#{$i}px {
    border-radius: #{$i}px!important;
  }
}


.flexBetween {
    display: flex;
    justify-content: space-between;
}

.col-md-5custom {
    flex: 0 0 46%;
    max-width: 46%;
}

.dropdown {
    padding: 0;
    header {
        background: $color__primary;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        @extend %font-style;
        font-size: 18px;
        line-height: 26px;
        color: white;
        display: flex;
        justify-content: space-between;

        img {
            height: fit-content;
            align-self: center;
        }
    }
    &__text {
        background: #F7F7F7;
        border-radius: 10px;
        @extend %font-style;
        font-size: 18px;
        line-height: 26px;
        color: $color__primary;
        padding: 1.5rem 1rem;
    }
}


/* about page **/
.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
}
.card-body {
    padding: 0;
}
.card-header {
    background: $color__primary;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    @extend %font-style;
    font-size: 18px;
    line-height: 26px;
    color: white;
    display: flex;
    justify-content: space-between;

    img {
        height: fit-content;
        align-self: center;
    }
}